.myname {
  font-size: 80px;
  color: honeydew;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
}
.portfolio {
  font-size: 60px;
  font-style: italic;
  color: lightcyan;
  text-align:center;
}
.projects{
  float: left;
  width: 400px;
  min-height: 500px;
  background-color: honeydew;
  margin-right: 20px;
  color: black;
  font-size: 24px;
}
img {
  float: right;
  width: 500px;
  height: 500px;
  margin-right: 20px;
  margin-top: -400px;
}
body {
  background-image: url(../images/background-images6.jpg);
}
.white {
  color: mistyrose;
  font-size: 24px
}
.myinterest {
  float: right;
  background-color: honeydew;
  color: black;
  width: 400px;
  min-height: 300px;

}
